@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


@theme inline {
  --color-primary: #002363;
  --color-secondary: #902268;
  /* --font-adron-title: 'Cormorant Garamond', sans-serif;
  --font-adron-text-body: Gotham;
  --font-adron-thin: Gotham-thin;
  --font-adron-mid: Gotham-normal;
  --font-adron-bold: Gotham-bold;
  --font-adron-ultra: Gotham-Ultra; */
}

a, button {
  cursor: pointer;
}

/* globals.css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: black;
  caret-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  scroll-behavior: smooth;
}